#fpNumbers .label {
    -fx-border-color: black;
    -fx-border-width: 0.1px;
    -fx-border-style: solid;
    -fx-min-width: 20px;
    -fx-padding: 1.3px;
    -fx-alignement: center;
}
#lblCountBy {
    -fx-font-size: 50pt;
}

#fpNumbers {
    -fx-vgap: 0.4in;
    -fx-hgap: 0.4in;
    -fx-padding: 6px;
    -fx-border-color: black;
}

#tvCounter {
    -fx-border-color: black;
}